<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Math Time</title>
</head>
<body>
    <h1>Let's do Math!</h1>
    <form action="/">
        <input type="text" name="firstOperand"/>
        <select name="operatorSelect" id="operator-select">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" name="secondOperand"/>
        <input type="submit" name="Calculate"/>
    </form>
    <h3>Your Full Equation was: </h3>
    <h3 th:text="${fullEquation}"></h3>
    <h3>Your Result was:</h3>
    <h3 th:text="${result}"></h3>
</body>
</html>