<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Math Time</title>
</head>
<body>
    <h1>Let's do Math!</h1>
    <form action="/">
        <input type="text" name="firstOperand"/>
        <select name="operatorSelect" id="operator-select">
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="text" name="secondOperand"/>
        <input type="submit" name="Calculate"/>
    </form>
</body>
</html>